.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #fff;
  padding: 30px;
  max-width: 400px;
  width: 95%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
